{% extends "zt/base/basepage.html" %}
{% block js %}
<style type="text/css">
.STYLE1 {
	height:25px;
	background-color:#ffffff;
}
</style>
{% endblock %}
{% block body %}
<body onLoad=""  style="background:#ececec">
{% endblock %}
{% block navigator %}
<a  href="/userInfo">项目模块管理</a> >><a  href="/userAdd">添加功能模块</a>  >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<form id="register"  method="post" action="/ts/TestMenu/" >
<table id='tbform' align="center" width="90%" border="0" cellpadding=1 cellspacing=1 bgcolor="#D5E3E6" >
{{ form.as_table }}
</table>
{% csrf_token %}
<p><input type="submit" value="Submit"></p>
</form>
{% endblock %}