{% extends "zt/base/basepage.html" %}
{% block js %}
<style type="text/css">
.STYLE1 {
	height:25px;
	background-color:#ffffff;
}
</style>
{% endblock %}
{% block body %}
<body onLoad=""  style="background:#ececec">
{% endblock %}
{% block navigator %}
<!--<a  href="/userInfo">用户信息列表</a> >><a  href="/userAdd">添加新用户</a>  >> <a href="javascript:history.back(-1);">后退</a>-->
{% endblock %}
{% block content %}
<form id="register"  method="post" action="/userAdd" onSubmit="checkTrue()">
<table align="center" width="90%" border="0" cellpadding=1 cellspacing=1 bgcolor="#D5E3E6" >

  <tr class="STYLE1">
    <td colspan="2" align="center">您不具有权限</td>
    </tr>
  </table>
  
</form>
{% endblock %}